body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    background-color: darkred;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 12px;
    position: relative;
}

h2::before {
    content: "▶";
    position: absolute;
    left: 10px;
    color: gray;
}

h3 {
    color: darkblue;
}

.vnoreny-seznam-ol1 {
    list-style-type: upper-roman;
}

.vnoreny-seznam-ol2 {
    list-style-type: lower-alpha;
}

li {
    padding: 2px;
}

dt, dd {
    padding-bottom: 12px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid black;
}

thead, tfoot {
    background-color: #ccc;
}

.nalevo-uprostred {
    font-weight: normal;
    text-align: left;
}

.napravo-uprostred {
    font-weight: normal;
    text-align: right;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.nalevo {
    text-align: left;
}

.celkove-pocty {
    text-align: right;
    color: red;
}

caption {
    color: white;
    font-style: italic;
    text-align: center;
    background-color: #333;
    padding: 5px;
    margin-bottom: 10px;
}